@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import 'bootstrap/scss/bootstrap';

$primary: #6100ff;
$primary-dark: #260064;
$grey: grey;
$danger: #e91e1e;
$pink: #FB2E86;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f1f1f1;
}

.btn {
    cursor: pointer;
    padding: 10px 35px;
    border-radius: 300px;
    border: none;
    transition: all 0.3s ease;
}

.btn-primary {
    background: $primary;
    color: #fff;

    &:hover {
        background: $primary-dark;
    }
}

.btn-block {
    width: 100%;
}

.home-header {
    background: linear-gradient(to bottom, $primary, #d38eff);
    padding: 100px 25px 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 0 0 50% 50%;
}

.home-header-text {
    text-align: center;
    color: #fff;

    .title {
        font-size: 40px;
        font-weight: 700;
    }

    .tagline {
        font-size: 20px;
        font-weight: 300;
    }
}

.home-header-search {
    margin-top: 20px;

    input {
        width: 600px;
        max-width: 100%;
        border-radius: 300px;
        text-align: center;
        padding: 10px 20px;
        border: 2px solid $primary;

        &:focus {
            outline: none;
        }
    }
}

.menu {
    background-color: $primary;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;

    .logo {
        height: 46px;

    }

    ul {
        list-style: none;
        display: flex;
        align-items: center;
        margin: 0;
        gap: 30px;
    }

    li {

        a {
            color: #fff;
            height: 46px;
            width: 46px;
            font-size: 22px;
            background: #570bd7;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            transition: all 0.4s ease;
            position: relative;

            .info-count {
                width: 20px;
                height: 20px;
                border-radius: 50%;
                background-color: #ff36f7;
                font-size: 12px;
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                top: 0;
                right: 0;
                transform: translate(20%, -20%);
                color: #fff;
            }

            &:hover {
                background: #fff;
                color: $primary;
            }
        }
    }
}

.login-page {
    min-height: 100vh;
    background: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;

    .login-form-box {
        background: #fff;
        border-radius: 10px;
        padding: 30px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        width: 500px;
        max-width: 100%;

        .login-title {
            font-size: 24px;
            font-weight: 600;
            text-align: center;
            margin-bottom: 30px;
            color: $primary-dark;
        }

        .field {
            margin-bottom: 25px;

            input {
                width: 100%;
                padding: 10px 15px;
                border-radius: 200px;
                border: 1px solid #ddd;
            }

            .has-error {
                border-color: $danger;
            }
        }

        .field-error {
            color: $danger;
            font-size: 13px;
            margin-top: 2px;
        }
    }
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.account-page {
    padding: 50px 15px;
}

.products-section {
    padding: 70px 0;

    .section-title {
        font-size: 30px;
        font-weight: 600;
        text-align: center;
        color: $primary-dark;
        margin-bottom: 30px;
    }
}

.product-box {
    border-radius: 3px;
    background: #fff;
    overflow: hidden;
    box-shadow: 0 8px 40px 0 rgba(49, 32, 137, 5%);
    text-align: center;
    max-width: 270px;
    text-decoration: none;
    transition: all 0.4s ease;

    &:hover {
        box-shadow: 0 10px 50px 2px rgba(0, 0, 0, 15%);

        .image {
            background: linear-gradient(to bottom right, $primary, $pink);
        }
    }

    .image {
        background: #F6F7FB;
        height: 230px;
        width: 270px;
        max-width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 10px;
        transition: all 0.4s ease;

        img {
            max-width: 100%;
            max-height: 100%;
        }
    }

    .product-title {
        font-size: 18px;
        font-weight: 500;
        color: $pink;
        margin-bottom: 10px;
    }

    .color-plateletes {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
        margin-bottom: 10px;

        .color-platelete {
            width: 20px;
            height: 5px;
            border-radius: 10px;
            background: #000;
        }
    }

    .product-category {
        color: #6f6f6f;
        font-style: italic;
        font-weight: 200;
        margin-bottom: 10px;
    }

    .product-price {
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 20px;
        color: $primary-dark;
    }
}

.products-row {
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
}
